<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>
  <p>
  <strong>Images:</strong>
  <% post.images.each do |image|%>
  <%=image_tag image,style: "height:10vw;width:10vw;" if post.images.attached?%>
  <%=link_to "Show",url_for(image)%>
  <%= link_to 'download', rails_blob_path(image, disposition: "attachment") %>
  <%end%>
  </p>
  <p>
  <strong>files:</strong>
  <% if post.files.attached? %>
  <% post.files.each do |f|%>
  <%=f.id%>
  <%=link_to "Show",url_for(f)%>
  <%= link_to 'download', rails_blob_path(f, disposition: "attachment") %>
  <%end%>
  <%else%>
  <p>No docs attached</p>
  <%end%>
  </p>
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

</div>
